#structure {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  .iconfont {
    color: #fff;
  }

  .header {
    width: 100%;
    height: 65px;
    line-height: 65px;
    padding-left: 40px;
    box-sizing: border-box;
  }
  .header div {
    font-size: 24px;
  }
  .fenge {
    margin-left: 30px;
    margin-right: 30px;
  }
  .fenge {
    margin-left: 30px;
    margin-right: 30px;
  }
  .structure-box{
    width: 1000px;
    margin: 100px auto;
    .structure-header{
      width: 100%;
      height: 40px;
      display: flex;
      // justify-content: space-between;
      .search-input {
        width: 300px;
        height: 40px;
        position: relative;
        margin-right: 35px;
        input {
          border: none;
          outline: none;
          text-align: left;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding-right: 20px;
          padding-left: 10px;
          color: #fff;
          font-size: 14px;
          background: transparent;
          border-bottom: 1px solid;
          border-image: linear-gradient(to right, #0b01b8 0, #b303fd 25%, #f3c1ff 50%, #b303fd 75%, #0b01b8) 5;
        }
        input::placeholder {
          font-size: 14px;
          color: #fff;
        }
        .icon-qianwang {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 24px;
          color: #ddd7ff;
        }
      }
      .search-condition {
        width: 300px;
        display: flex;
        // justify-content: space-between;
        font-size: 12px;
        // line-height: 40px;
        color: #fff;
        margin-left: 55px;
        align-items: center;
        .task-state , .founder {
          position: relative;
        }
        .zhankai {
          display: inline-block;
          transform: rotate(-180deg);
          font-size: 12px;
          transition: .2s;
        }
        .composition{
          cursor: pointer;
          span.ant-dropdown-link{
            color: #fff!important;
            font-size: 14px!important;
          }
          .anticon-up{
            margin-left: 10px!important;
            font-size: 16px;
            vertical-align: middle!important;
          }

        }
      }
    }
    .founder {
      margin-left: 30px;
      .trans-item {
        width: 145px;
        left: -60px;
      }
      span {
        color: #fff;
      }
    }
    .click-item{
      span {
        color: #fff;
      }
    }
    .founder .trans-item, .task-state .trans-item {
      position: absolute;
      right: -36px;
      width: 150px;
      height: auto;
      display: none;
      text-align: center;
      border: 1px solid #0b01b8;
      background: rgba(20, 14, 62, 0.5);
      border-radius: 10px;
      font-size: 14px;
      z-index: 999;
    }
    .input-wrap {
      position: relative;
    }
    .input-founder {
      margin: 0;
      width: 150px;
      float: none;
      text-align: left;
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
      color: #ccc;
      padding: 5px 30px 5px 10px;
      box-sizing: border-box;
      background: #fff;
    }
    .input-founder::placeholder {
      font-size: 12px;
      color: #ccc;
    }
    .founder .icon-qianwang {
      position: absolute;
      top: 0px;
      right: 5px;
      font-size: 24px;
      color: #ccc;
    }
    .mr-15 {
      margin-right: 20px;
      display: inline-block;
      text-align: center;
      font-size: 12px;
    }
    .task-state .task-state-list {
      left: -15px;
    }
    .search-condition .list-item {
      display: block;
      height: 35px;
      line-height: 35px;
    }
    .founder-list {
      max-height: 200px;
      overflow-y: scroll;
      .list-item {
        text-align: center;
        padding-left: 10px;
        // display: block;
      }
    }
    .search-condition .list-item:hover {
      background: #4332ba;
    }
    .search-condition .rotate {
      transform: rotate(0deg);
    }
    .content-item, .content-header{
      display: flex;
      width: 100%;
      .item-composition, .item-state, .item-time{
        flex: 1;
      }
      .item-title, .item-author, .data{
        flex: 2;
      }
      .item-composition, .item-state, .item-time, .item-author, .data{
        text-align: center;
      }
      .data{
        display: flex;
        justify-content: center;
        span{
          text-align: center;
          padding-right: 5px;
        }
        span:first-of-type{
          width: auto;
        }
      }
    }
  }
  .main{
    .change-department{
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(~'100% - 40px');
      margin: 0 20px;
    }
    .assigning-users{
      margin: 0 20px;
      .assigning-middle{
        position: relative;
        margin-top: 10px;
        >p{
          position: absolute;
          left: 0;
          top: 0;
        }
        display: flex;
        >div, .haventUsers, .haveUsers{
          flex: 1;
          >div{
            width: 100%;
            margin-top: 10px;
            >p{
              height: 30px;
              background: #A4A2CA;
              width: 100%;
              position: relative;
              img{
                width: 30px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
            ul{
              width: 100%;
              border: 1px solid #A4A2CA;
              height: 220px;
              li{
                padding: 5px;
              }
            }
          }
          >p{
            text-align: right;
            font-size: 14px;
          }
          >p:nth-child(2){
            font-size: 12px;
            color: #737373;
          }
        }
        .haveUsers{
          margin-left: 10px;
          img{
            transform: rotateX(180deg)!important;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    .dialog-top{
      width: 100%;
      padding: 5px 0;
      text{
        span{
          color: #FB3636;
        }
      }
      input{
        flex: 1;
        height: 30px;
        outline: none;
        padding-left: 10px;
        border: 0;
        background: transparent;
      }
      border-bottom: 1px solid #A6A4CC;
    }
  }
}
.structureContent{
  /* 录音列表 */
  .history{
    width: 40px;
    height: 50px;
    position: fixed;
    top: 0;
    right: calc(~"15% + 50px");
    background: #13086c;
    border-radius: 0 0 25px 25px;
    cursor: pointer;
    .his {
      position: absolute;
      width: 60px;
      line-height: 13px;
      height: 22px;
      padding: 4px;
      font-size: 12px;
      text-align: center;
      top: 50px;
      left: -7px;
      color: #fff;
      border: 1px solid #4332ba;
      border-radius: 20px;
      margin-top: 8px;
      box-sizing: border-box;
      background: #1a1b3a;
      display: none;
    }
    .icon-lishijilu{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 1px;
      font-size: 22px;
      color: #4f42c0;
      text-align: center;
      transition: transform .5s linear;
    }
  }
  .history:hover {
    background: #2916bc;
    .icon-lishijilu{
      transform:rotateY(360deg);
      color: #fff;
    }
    .his {
      display: block;

    }
  }

  /* 客户列表样式 */
  .kehu {
    right:15%;
    background: #113b8d;
    .iconfont {
      display: block;
      transition: transform .5s linear !important;
      font-size: 22px;
      color: #2d9bff;
    }
    .customer {
      display: none;
      position: absolute;
      width: 60px;
      line-height: 20px;
      height: 20px;
      font-size: 12px;
      text-align: center;
      top: 50px;
      left: -5px;
      border: 1px solid #4332ba;
      border-radius: 20px;
      margin-top: 8px;
      box-sizing: border-box;
      background: #1a1b3a;
      color: #fff;
    }
  }
  .kehu:hover {
    background: #2d9bff;
    .customer {
      display: block;
    }
    .iconfont {
      transform: rotateY(360deg) !important;
      color: #fff;
    }
  }
  .generation{
    cursor: pointer;
    span.ant-dropdown-link{
      color: #fff!important;
      font-size: 14px!important;
    }
    .anticon-down{
      margin-left: 10px!important;
      font-size: 16px;
      vertical-align: middle!important;
    }

  }
  /* 表格单元格s*/
  .content-item, .content-header {
    >div{
      text-align: center;
    }
  }
  .content-item .item-title, .content-header .item-title{
    width: 10%;
    text-align: left;
  }
  .content-item .item-author, .content-header .item-author {
    width: 10%;
  }
  .content-item .item-composition, .content-header .item-composition {
    width: 10%;
  }
  .content-item .item-state, .content-header .item-state {
    width: 10%;
  }
  .content-item .item-time, .content-header .item-time {
    width: 10%;
  }
  .content-item .item-options, .content-header .item-options {
    width: 20%;
  }
  .content-item .item-options {
    >span{
      margin:0 5px;
    }
    span:hover{
      cursor: pointer;
    }
  }
  .content-head{
    position: relative;
  }
  .buttonCont{
    width: 150px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: url("../../assets/image/btn.png") no-repeat;
    color: #fff;
    position: absolute;
    right: 0;
    bottom:-50px;
  }
  .buttonCont:hover{
    cursor:pointer;
  }
  /* 添加用户表单*/
  .user-form-dailog{
    padding: 0 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    div.ant-row{
      .ant-input{
        text-align: left;
        /*border:none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;*/
      }
    }
  }
}
