#structure {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}
#structure .iconfont {
  color: #fff;
}
#structure .header {
  width: 100%;
  height: 65px;
  line-height: 65px;
  padding-left: 40px;
  box-sizing: border-box;
}
#structure .header div {
  font-size: 24px;
}
#structure .fenge {
  margin-left: 30px;
  margin-right: 30px;
}
#structure .fenge {
  margin-left: 30px;
  margin-right: 30px;
}
#structure .structure-box {
  width: 1000px;
  margin: 100px auto;
}
#structure .structure-box .structure-header {
  width: 100%;
  height: 40px;
  display: flex;
}
#structure .structure-box .structure-header .search-input {
  width: 300px;
  height: 40px;
  position: relative;
  margin-right: 35px;
}
#structure .structure-box .structure-header .search-input input {
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 10px;
  color: #fff;
  font-size: 14px;
  background: transparent;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0b01b8 0, #b303fd 25%, #f3c1ff 50%, #b303fd 75%, #0b01b8) 5;
}
#structure .structure-box .structure-header .search-input input::placeholder {
  font-size: 14px;
  color: #fff;
}
#structure .structure-box .structure-header .search-input .icon-qianwang {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: #ddd7ff;
}
#structure .structure-box .structure-header .search-condition {
  width: 300px;
  display: flex;
  font-size: 12px;
  color: #fff;
  margin-left: 55px;
  align-items: center;
}
#structure .structure-box .structure-header .search-condition .task-state,
#structure .structure-box .structure-header .search-condition .founder {
  position: relative;
}
#structure .structure-box .structure-header .search-condition .zhankai {
  display: inline-block;
  transform: rotate(-180deg);
  font-size: 12px;
  transition: .2s;
}
#structure .structure-box .structure-header .search-condition .composition {
  cursor: pointer;
}
#structure .structure-box .structure-header .search-condition .composition span.ant-dropdown-link {
  color: #fff!important;
  font-size: 14px!important;
}
#structure .structure-box .structure-header .search-condition .composition .anticon-up {
  margin-left: 10px!important;
  font-size: 16px;
  vertical-align: middle!important;
}
#structure .structure-box .founder {
  margin-left: 30px;
}
#structure .structure-box .founder .trans-item {
  width: 145px;
  left: -60px;
}
#structure .structure-box .founder span {
  color: #fff;
}
#structure .structure-box .click-item span {
  color: #fff;
}
#structure .structure-box .founder .trans-item,
#structure .structure-box .task-state .trans-item {
  position: absolute;
  right: -36px;
  width: 150px;
  height: auto;
  display: none;
  text-align: center;
  border: 1px solid #0b01b8;
  background: rgba(20, 14, 62, 0.5);
  border-radius: 10px;
  font-size: 14px;
  z-index: 999;
}
#structure .structure-box .input-wrap {
  position: relative;
}
#structure .structure-box .input-founder {
  margin: 0;
  width: 150px;
  float: none;
  text-align: left;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  color: #ccc;
  padding: 5px 30px 5px 10px;
  box-sizing: border-box;
  background: #fff;
}
#structure .structure-box .input-founder::placeholder {
  font-size: 12px;
  color: #ccc;
}
#structure .structure-box .founder .icon-qianwang {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 24px;
  color: #ccc;
}
#structure .structure-box .mr-15 {
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}
#structure .structure-box .task-state .task-state-list {
  left: -15px;
}
#structure .structure-box .search-condition .list-item {
  display: block;
  height: 35px;
  line-height: 35px;
}
#structure .structure-box .founder-list {
  max-height: 200px;
  overflow-y: scroll;
}
#structure .structure-box .founder-list .list-item {
  text-align: center;
  padding-left: 10px;
}
#structure .structure-box .search-condition .list-item:hover {
  background: #4332ba;
}
#structure .structure-box .search-condition .rotate {
  transform: rotate(0deg);
}
#structure .structure-box .content-item,
#structure .structure-box .content-header {
  display: flex;
  width: 100%;
}
#structure .structure-box .content-item .item-composition,
#structure .structure-box .content-header .item-composition,
#structure .structure-box .content-item .item-state,
#structure .structure-box .content-header .item-state,
#structure .structure-box .content-item .item-time,
#structure .structure-box .content-header .item-time {
  flex: 1;
}
#structure .structure-box .content-item .item-title,
#structure .structure-box .content-header .item-title,
#structure .structure-box .content-item .item-author,
#structure .structure-box .content-header .item-author,
#structure .structure-box .content-item .data,
#structure .structure-box .content-header .data {
  flex: 2;
}
#structure .structure-box .content-item .item-composition,
#structure .structure-box .content-header .item-composition,
#structure .structure-box .content-item .item-state,
#structure .structure-box .content-header .item-state,
#structure .structure-box .content-item .item-time,
#structure .structure-box .content-header .item-time,
#structure .structure-box .content-item .item-author,
#structure .structure-box .content-header .item-author,
#structure .structure-box .content-item .data,
#structure .structure-box .content-header .data {
  text-align: center;
}
#structure .structure-box .content-item .data,
#structure .structure-box .content-header .data {
  display: flex;
  justify-content: center;
}
#structure .structure-box .content-item .data span,
#structure .structure-box .content-header .data span {
  text-align: center;
  padding-right: 5px;
}
#structure .structure-box .content-item .data span:first-of-type,
#structure .structure-box .content-header .data span:first-of-type {
  width: auto;
}
#structure .main .change-department {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px);
  margin: 0 20px;
}
#structure .main .assigning-users {
  margin: 0 20px;
}
#structure .main .assigning-users .assigning-middle {
  position: relative;
  margin-top: 10px;
  display: flex;
}
#structure .main .assigning-users .assigning-middle > p {
  position: absolute;
  left: 0;
  top: 0;
}
#structure .main .assigning-users .assigning-middle > div,
#structure .main .assigning-users .assigning-middle .haventUsers,
#structure .main .assigning-users .assigning-middle .haveUsers {
  flex: 1;
}
#structure .main .assigning-users .assigning-middle > div > div,
#structure .main .assigning-users .assigning-middle .haventUsers > div,
#structure .main .assigning-users .assigning-middle .haveUsers > div {
  width: 100%;
  margin-top: 10px;
}
#structure .main .assigning-users .assigning-middle > div > div > p,
#structure .main .assigning-users .assigning-middle .haventUsers > div > p,
#structure .main .assigning-users .assigning-middle .haveUsers > div > p {
  height: 30px;
  background: #A4A2CA;
  width: 100%;
  position: relative;
}
#structure .main .assigning-users .assigning-middle > div > div > p img,
#structure .main .assigning-users .assigning-middle .haventUsers > div > p img,
#structure .main .assigning-users .assigning-middle .haveUsers > div > p img {
  width: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#structure .main .assigning-users .assigning-middle > div > div ul,
#structure .main .assigning-users .assigning-middle .haventUsers > div ul,
#structure .main .assigning-users .assigning-middle .haveUsers > div ul {
  width: 100%;
  border: 1px solid #A4A2CA;
  height: 220px;
}
#structure .main .assigning-users .assigning-middle > div > div ul li,
#structure .main .assigning-users .assigning-middle .haventUsers > div ul li,
#structure .main .assigning-users .assigning-middle .haveUsers > div ul li {
  padding: 5px;
}
#structure .main .assigning-users .assigning-middle > div > p,
#structure .main .assigning-users .assigning-middle .haventUsers > p,
#structure .main .assigning-users .assigning-middle .haveUsers > p {
  text-align: right;
  font-size: 14px;
}
#structure .main .assigning-users .assigning-middle > div > p:nth-child(2),
#structure .main .assigning-users .assigning-middle .haventUsers > p:nth-child(2),
#structure .main .assigning-users .assigning-middle .haveUsers > p:nth-child(2) {
  font-size: 12px;
  color: #737373;
}
#structure .main .assigning-users .assigning-middle .haveUsers {
  margin-left: 10px;
}
#structure .main .assigning-users .assigning-middle .haveUsers img {
  transform: rotateX(180deg) !important;
  transform: translate(-50%, -50%);
}
#structure .main .dialog-top {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #A6A4CC;
}
#structure .main .dialog-top text span {
  color: #FB3636;
}
#structure .main .dialog-top input {
  flex: 1;
  height: 30px;
  outline: none;
  padding-left: 10px;
  border: 0;
  background: transparent;
}
.structureContent {
  /* 录音列表 */
  /* 客户列表样式 */
  /* 表格单元格s*/
  /* 添加用户表单*/
}
.structureContent .history {
  width: 40px;
  height: 50px;
  position: fixed;
  top: 0;
  right: calc(15% + 50px);
  background: #13086c;
  border-radius: 0 0 25px 25px;
  cursor: pointer;
}
.structureContent .history .his {
  position: absolute;
  width: 60px;
  line-height: 13px;
  height: 22px;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  top: 50px;
  left: -7px;
  color: #fff;
  border: 1px solid #4332ba;
  border-radius: 20px;
  margin-top: 8px;
  box-sizing: border-box;
  background: #1a1b3a;
  display: none;
}
.structureContent .history .icon-lishijilu {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 1px;
  font-size: 22px;
  color: #4f42c0;
  text-align: center;
  transition: transform .5s linear;
}
.structureContent .history:hover {
  background: #2916bc;
}
.structureContent .history:hover .icon-lishijilu {
  transform: rotateY(360deg);
  color: #fff;
}
.structureContent .history:hover .his {
  display: block;
}
.structureContent .kehu {
  right: 15%;
  background: #113b8d;
}
.structureContent .kehu .iconfont {
  display: block;
  transition: transform .5s linear !important;
  font-size: 22px;
  color: #2d9bff;
}
.structureContent .kehu .customer {
  display: none;
  position: absolute;
  width: 60px;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  top: 50px;
  left: -5px;
  border: 1px solid #4332ba;
  border-radius: 20px;
  margin-top: 8px;
  box-sizing: border-box;
  background: #1a1b3a;
  color: #fff;
}
.structureContent .kehu:hover {
  background: #2d9bff;
}
.structureContent .kehu:hover .customer {
  display: block;
}
.structureContent .kehu:hover .iconfont {
  transform: rotateY(360deg) !important;
  color: #fff;
}
.structureContent .generation {
  cursor: pointer;
}
.structureContent .generation span.ant-dropdown-link {
  color: #fff!important;
  font-size: 14px!important;
}
.structureContent .generation .anticon-down {
  margin-left: 10px!important;
  font-size: 16px;
  vertical-align: middle!important;
}
.structureContent .content-item > div,
.structureContent .content-header > div {
  text-align: center;
}
.structureContent .content-item .item-title,
.structureContent .content-header .item-title {
  width: 10%;
  text-align: left;
}
.structureContent .content-item .item-author,
.structureContent .content-header .item-author {
  width: 10%;
}
.structureContent .content-item .item-composition,
.structureContent .content-header .item-composition {
  width: 10%;
}
.structureContent .content-item .item-state,
.structureContent .content-header .item-state {
  width: 10%;
}
.structureContent .content-item .item-time,
.structureContent .content-header .item-time {
  width: 10%;
}
.structureContent .content-item .item-options,
.structureContent .content-header .item-options {
  width: 20%;
}
.structureContent .content-item .item-options > span {
  margin: 0 5px;
}
.structureContent .content-item .item-options span:hover {
  cursor: pointer;
}
.structureContent .content-head {
  position: relative;
}
.structureContent .buttonCont {
  width: 150px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: url("../../assets/image/btn.png") no-repeat;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: -50px;
}
.structureContent .buttonCont:hover {
  cursor: pointer;
}
.structureContent .user-form-dailog {
  padding: 0 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.structureContent .user-form-dailog div.ant-row .ant-input {
  text-align: left;
  /*border:none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;*/
}
