.userContent{
  .generation{
    cursor: pointer;
    span.ant-dropdown-link{
      color: #fff!important;
      font-size: 14px!important;
    }
    .anticon-down{
      margin-left: 10px!important;
      font-size: 16px;
      vertical-align: middle!important;
    }

  }
  /* 表格单元格s*/
  .content-item, .content-header {
    >div{
      text-align: center;
    }
  }
  .content-item .item-title, .content-header .item-title{
    width: 12%;
  }
  .content-item .item-author, .content-header .item-author {
    width: 10%;
  }
  .content-item .item-composition, .content-header .item-composition {
    width: 10%;
  }
  .content-item .item-state, .content-header .item-state {
    width: 18%;
  }
  .content-item .item-time, .content-header .item-time {
    width: 20%;
  }
  .content-item .data, .content-header .data {
    width: 20%;
  }
  .content-item .item-options, .content-header .item-options {
    width: 10%;
  }
  .content-item .item-options {
    >span{
      margin:0 5px;
    }
    span:hover{
      cursor: pointer;
    }
  }
  /* 添加用户表单*/
  .user-form-dailog{
    padding: 0 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    div.ant-row{
      .ant-input{
        text-align: left;
        /*border:none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;*/
      }
    }
  }
  .content-head{
    position: relative;
  }
  .buttonCont{
    width: 150px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: url("../../assets/image/btn.png") no-repeat;
    color: #fff;
    position: absolute;
    right: 0;
    bottom:-50px;
  }
  .buttonCont:hover{
    cursor:pointer;
  }
  .search-input{
    width: 260px;
  }
  .main{
    &::before{
      background: url("../../assets/image/yun.png") no-repeat center #fff;
    }
  }
}
