.login{
  background: url("../../assets/image/login.png") no-repeat;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  .login-form{
    background: url("../../assets/image/login-s.png") no-repeat;
    width: 637px;
    height: 441px;
    .login-wrap{
      margin-top: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input{
        float: none;
        margin: 0;
        text-align: left;
      }
      .ant-form-explain{ font-size: 12px;}
    }
    .mt{ margin-top: 20px;}
    .ant-form-item{ 
      font-size: 14px;
      width: 362px;
    }
    .login-form-item{
      .ant-input-lg{
        height: 40px;
        line-height: 40px;
        font-size: 14px;
      }
      .login-button{
        width: 362px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        background: url("../../assets/image/denglu_23.png") no-repeat;
        border:none;
      }
    }
    .ant-input-affix-wrapper .ant-input-prefix, .ant-input-affix-wrapper .ant-input-suffix{
      font-size: 16px;
    }

    .has-error.has-feedback:after,.ant-form-item-control,.has-success.has-feedback:after {
      line-height: 40px;
    }
    
    .ant-checkbox-wrapper{
      color: #afaaff;
      margin-left: 10px;
      font-size: 14px;
    }
  }
}
